<% if flash[:login_error] %>
    <%= flash[:login_error] %>
<% end %>
<div class = "icon">
<div>
<%= image_tag ("/assets/staff.png"), class: "img-responsive" %>
</div>
</div>
    <h2>Employee Login</h2>

<%= form_for :session do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit %>
<% end %>
   
