<h1><u>Family Meal Menu</u></h1>

<h1>Breakfast</h1>
<% @employees.map do |employee| %>
<% if employee.shift == "breakfast" %>
    <ul><%= link_to employee.name, employee_path(employee) %></ul>
    <% end %>
 <% end %>

<h1>Lunch</h1>
<% @employees.map do |employee| %>
<% if employee.shift == "lunch" %>
    <ul><%= link_to employee.name, employee_path(employee) %></ul>
    <% end %>
 <% end %>

<h1>Dinner</h1>
<% @employees.map do |employee| %>
<% if employee.shift == "dinner" %>
    <ul><%= link_to employee.name, employee_path(employee) %></ul>
    <% end %>
 <% end %>

<h1>Employee Roster</h1>

<% @employees.each do |employee| %>
<ul><%= link_to employee.name, employee_path(employee) %></ul>
<% end %>
<br>
<br>
<% @employees.each do |employee| %>
<% if employee.job_title == "cook" %>
<ul><%= employee.name %></ul>
    <% end %>
<% end %>
