<h1>Create Employee</h1>

 <% if flash[:errors] %>
     <% flash[:errors].each do |error|  %> 
         <%= error %> 
     <% end %> 
 <% end %>  

<% shifts = ["breakfast", "lunch", "dinner"] %>
<div class = "new_emp_form">
<div>
<h2><%= form_for @employee do |f| %>
    
    <%=f.label :name %>
    <%=f.text_field :name %>
    <br>
    <%=f.label :password %>
    <%=f.password_field :password %>
    <br>
    <%=f.label :shift %>
    <%=f.select :shift, options_for_select([["Select One", ""], "breakfast", "lunch", "dinner"]) %>
    <br>
    <%=f.label :job_title %>
    <%=f.select :job_title, options_for_select([["Select One", ""], "cook", "busser", "runner", "server", "bartender", "chef"]) %>
    <br>
    <%=f.submit %></h2>
        </div>
    </div>

<% end %>