<div class = "icon">
<div>
<%= image_tag ("/assets/staff.png"), class: "img-responsive" %>
</div>
</div>
<h1>Employee Profile</h1>
<h2><%= @employee.name %></h2>
<div id="emp_pro">
    <div class="pros">
<h3>Job Title <br><br> <%= @employee.job_title %></h3>
<% if @employee.job_title == "bartender" %>
<%= image_tag ("/assets/bartender.png"), class: "img-responsive" %>
<% elsif @employee.job_title == "busser"%>
<%= image_tag ("/assets/busser.png"), class: "img-responsive" %>
<% elsif @employee.job_title == "runner"%>
<%= image_tag ("/assets/runner.png"), class: "img-responsive" %>
<% elsif @employee.job_title == "server"%>
<%= image_tag ("/assets/server.png"), class: "img-responsive" %>
<% else @employee.job_title == "cook" %>
<%= image_tag ("/assets/cook.png"), class: "img-responsive" %>
<% end %>
</div>
    <div class="pros">
<h3>Shift <br><br> <%= @employee.shift %></h3>
<% if @employee.shift == "breakfast" %>
<%= image_tag ("/assets/breakfast.png"), class: "img-responsive" %>
<% elsif @employee.shift == "lunch"%>
<%= image_tag ("/assets/lunch.png"), class: "img-responsive" %>
<% else @employee.shift == "dinner" %>
<%= image_tag ("/assets/dinner.png"), class: "img-responsive" %>
<% end %></div>
</div>
<%= button_to "Delete", employee_path(@employee), method: :delete %>