<br>
<% if flash[:chef_errors]%>
<h2><%= flash[:chef_errors] %></h2>
<% end %>
<h1>Today's Family Meal Menu </h1>


<h3>Breakfast Family Meal:</h3>

<% @family_meals.each do |family_meal| %>
    <% if family_meal.shift == "Breakfast" && family_meal.employee.job_title == 'Cook'%>
        <%= family_meal.recipe.name %></b>.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cook Responsible: <%= family_meal.employee.name %>
        <% end %>
    <% end %>

<h3>Lunch Family Meal:</h3>

<% @family_meals.each do |family_meal| %>
    <% if family_meal.shift == "Lunch" && family_meal.employee.job_title == 'Cook'%>
        <%= link_to family_meal.recipe.name, recipe_path(family_meal.recipe_id) %></b>.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cook Responsible: <%= family_meal.employee.name %>
        <% end %>
    <% end %>

<h3>Dinner Family Meal:</h3>

<% @family_meals.each do |family_meal| %>
    <% if family_meal.shift == "Dinner" && family_meal.employee.job_title == 'Cook'%>
        <%= family_meal.recipe.name %></b>.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cook Responsible: <%= family_meal.employee.name %>
        <% end %>
    <% end %>
