<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<p style = "color:red;"><%= error %></p>
    <% end %>
<% end  %>

<% fruits = [] %>
<% Ingredient.all.each do |ingredient| %>
<% if ingredient.category == "fruits" && ingredient.quantity != 0 %>
<% fruits << ingredient %>
    <% end %>
<% end %>

<% vegetables = [] %>
<% Ingredient.all.each do |ingredient| %>
<% if ingredient.category == "vegetables" && ingredient.quantity != 0 %>
<% vegetables << ingredient %>
    <% end %>
<% end %>

<% canned_goods = [] %>
<% Ingredient.all.each do |ingredient| %>
<% if ingredient.category == "canned goods" && ingredient.quantity != 0 %>
<% canned_goods << ingredient %>
    <% end %>
<% end %>

<% use_todays = [] %>
<% Ingredient.all.each do |ingredient| %>
<% if ingredient.quality == "use today" && ingredient.quantity != 0 %>
<% use_todays << ingredient %>
    <% end %>
<% end %>

<% expirings = [] %>
<% Ingredient.all.each do |ingredient| %>
<% if ingredient.quality == "expiring" && ingredient.quantity != 0 %>
<% expirings << ingredient %>
    <% end %>
<% end %>

<% dayolds = [] %>
<% Ingredient.all.each do |ingredient| %>
<% if ingredient.quality == "day-old" && ingredient.quantity != 0 %>
<% dayolds << ingredient %>
    <% end %>
<% end %>

<% spices = [] %>
<% Ingredient.all.each do |ingredient| %>
<% if ingredient.category == "spices" && ingredient.quantity != 0 %>
<% spices << ingredient %>
    <% end %>
<% end %>

<% baking = [] %>
<% Ingredient.all.each do |ingredient| %>
<% if ingredient.category == "baking" && ingredient.quantity != 0 %>
<% baking << ingredient %>
    <% end %>
<% end %>

<% meats = [] %>
<% Ingredient.all.each do |ingredient| %>
<% if ingredient.category == "meats" && ingredient.quantity != 0 %>
<% meats << ingredient %>
    <% end %>
<% end %>

<% leftovers = [] %>
<% Ingredient.all.each do |ingredient| %>
<% if ingredient.category == "leftovers" && ingredient.quantity != 0 %>
<% leftovers << ingredient %>
    <% end %>
<% end %>

<% dairy = [] %>
<% Ingredient.all.each do |ingredient| %>
<% if ingredient.category == "dairy" && ingredient.quantity != 0 %>
<% dairy << ingredient %>
    <% end %>
<% end %>

<div class = "new_rec_form">
  <div>
    <h2>
<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :shift %>
  <%= f.select :shift, options_for_select([["Select One", ""], "breakfast", "lunch", "dinner"]) %>
    </h2>
  </div>
</div>
  <br>
    <hr>
<div class = "uses">
  <div><%= image_tag ("/assets/urgent.png"), class: "img-responsive", size: "80x80" %>
    <h2>Use Today!</h2>
    <%= f.collection_select(:ingredient_ids, use_todays, :id, :name, {:prompt => "...mulitselect..."}, {:multiple => true, :style => "width:300px", :style => "height:300px"}) %></div>
  <div><%= image_tag ("/assets/day_old.png"), class: "img-responsive", size: "80x80" %>
    <h2>Day-Old</h2>
  <%= f.collection_select(:ingredient_ids, dayolds, :id, :name, {:prompt => "...mulitselect..."}, {:multiple => true, :style => "width:300px", :style => "height:300px"}) %></div>
  <div><%= image_tag ("/assets/expiring.png"), class: "img-responsive", size: "80x80" %>
    <h2>Expiring</h2>
  <%= f.collection_select(:ingredient_ids, canned_goods, :id, :name, {:prompt => "...mulitselect..."}, {:multiple => true, :style => "width:300px", :style => "height:300px"}) %></div>
  <div><%= image_tag ("/assets/fruits.png"), class: "img-responsive", size: "80x80" %>
    <h2>Fruits</h2>
  <%= f.collection_select(:ingredient_ids, fruits, :id, :name, {:prompt => "...mulitselect..."}, {:multiple => true, :style => "width:300px", :style => "height:300px"}) %></div>
  <div><%= image_tag ("/assets/vegetables.png"), class: "img-responsive", size: "80x80" %>
    <h2>Vegetables</h2>
  <%= f.collection_select(:ingredient_ids, vegetables, :id, :name, {:prompt => "...mulitselect..."}, {:multiple => true, :style => "width:300px", :style => "height:300px"}) %>
  </div>
</div>
<br>
<br>
<div class = "uses_2">
  <div><%= image_tag ("/assets/spices.png"), class: "img-responsive", size: "80x80" %>
    <h2>Spices</h2>
    <%= f.collection_select(:ingredient_ids, spices, :id, :name, {:prompt => "...mulitselect..."}, {:multiple => true, :style => "width:300px", :style => "height:300px"}) %></div>
  <div><%= image_tag ("/assets/meat.png"), class: "img-responsive", size: "80x80" %>
    <h2>Meat and Fish</h2>
  <%= f.collection_select(:ingredient_ids, meats, :id, :name, {:prompt => "...mulitselect..."}, {:multiple => true, :style => "width:300px", :style => "height:300px"}) %></div>
  <div><%= image_tag ("/assets/baking.png"), class: "img-responsive", size: "80x80" %>
    <h2>Baking Goods</h2>
  <%= f.collection_select(:ingredient_ids, baking, :id, :name, {:prompt => "...mulitselect..."}, {:multiple => true, :style => "width:300px", :style => "height:300px"}) %></div>
  <div><%= image_tag ("/assets/dairy.png"), class: "img-responsive", size: "80x80" %>
    <h2>Dairy</h2>
  <%= f.collection_select(:ingredient_ids, dairy, :id, :name, {:prompt => "...mulitselect..."}, {:multiple => true, :style => "width:300px", :style => "height:300px"}) %></div>
  <div><%= image_tag ("/assets/leftovers.png"), class: "img-responsive", size: "80x80" %>
    <h2>Leftovers</h2>
  <%= f.collection_select(:ingredient_ids, leftovers, :id, :name, {:prompt => "...mulitselect..."}, {:multiple => true, :style => "width:300px", :style => "height:300px"}) %>
  </div>
</div>
  <hr>
  <%= f.submit %>
<% end %>
