<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<p style = "color:red;"><%= error %></p>
    <% end %>
<% end  %>

<%= form_for @recipe do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :description %>
<%= f.text_area :description, size: "60x12" %>
<br><br><br>
    <% ingredients = Ingredient.all %>
    <% ingredients.each do |ingredient| %>
    <%= f.check_box :ingredients, { multiple: true }, ingredient, false %>
    <%= f.label ingredient.name %>
    <% end %><br>
    <%= f.submit %>
<% end %>