<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<p style = "color:red;"><%= error %></p>
    <% end %>
<% end  %>
<h1><u>Update Ingredient Inventory</u></h1>
<%= form_for @ingredient do |f| %>

<%= f.label :quantity %>
<%= f.number_field :quantity %>
<br>
<%= f.label :quality %>
<%= f.select :quality, options_for_select([["Select One", ""], "fresh", "day-old", "expiring", "use today"]) %>
<br>

<%= f.submit %>
<% end %>