<%= image_tag ("/assets/ingredients.png"), class: "img-responsive", size: "170x170"%>
<h1>Ingredient Inventory</h2>
<h3><%= link_to "Add New Ingredient", new_ingredient_path %></h3>

 <div class = "ings">
 <div>  
    <%= image_tag ("/assets/fresh.png"), class: "img-responsive", size: "170x170"%>
<p>Fresh Ingredients</p>
<% @ingredients.each do |ingredient| %>
<% if ingredient.quality == "fresh" %>
<ul><%= link_to ingredient.name, ingredient_path(ingredient) %> ........... Quantity .. <%= ingredient.quantity %></ul>
    <% end %>
<% end %>
</div>
    
<div> 
<%= image_tag ("/assets/day_old.png"), class: "img-responsive", size: "170x170"%>
<p>Day-Old Ingredients</p>
<% @ingredients.each do |ingredient| %>
<% if ingredient.quality == "day-old" %>
<ul><%= link_to ingredient.name, ingredient_path(ingredient) %> ........... Quantity .. <%= ingredient.quantity %></ul>
    <% end %>
<% end %>
  </div>
    
<div> 
<%= image_tag ("/assets/expiring.png"), class: "img-responsive", size: "170x170"%>
<p>Expiriing Ingredients</p>
<% @ingredients.each do |ingredient| %>
<% if ingredient.quality == "expiring" %>
<ul><%= link_to ingredient.name, ingredient_path(ingredient) %> ........... Quantity .. <%= ingredient.quantity %></ul>
    <% end %>
<% end %>
   </div>
    
<div>  

<%= image_tag ("/assets/urgent.png"), class: "img-responsive", size: "170x170"%>
<p>Use-Today Ingredients</p>
<% @ingredients.each do |ingredient| %>
<% if ingredient.quality == "use today" %>
<ul><%= link_to ingredient.name, ingredient_path(ingredient) %> ........... Quantity .. <%= ingredient.quantity %></ul>
    <% end %>
<% end %>
    </div>
    
<div> 

<%= image_tag ("/assets/fruits.png"), class: "img-responsive", size: "170x170"%>
<p>Fruits</p>
<% @ingredients.each do |ingredient| %>
<% if ingredient.category == "fruits" %>
<ul><%= link_to ingredient.name, ingredient_path(ingredient) %> ........... Quantity .. <%= ingredient.quantity %></ul>
    <% end %>
<% end %>
    </div>
    
<div> 

<%= image_tag ("/assets/vegetables.png"), class: "img-responsive", size: "170x170"%>
<p>Vegetables</p>
<% @ingredients.each do |ingredient| %>
<% if ingredient.category == "vegetables" %>
<ul><%= link_to ingredient.name, ingredient_path(ingredient) %> ........... Quantity .. <%= ingredient.quantity %></ul>
    <% end %>
<% end %>
    
</div>
    
</div> 


<% @ingredients.each do |ingredient| %>
<p><%= link_to ingredient.name, ingredient_path(ingredient) %></p>
Amount: <%= ingredient.quantity %> - Quality: ........... <%= ingredient.quality %>
<% end %>
<br>
