<h1>Ingredient Inventory</h2>


    
    <%= image_tag ("/assets/fresh.png"), class: "img-responsive" %>
<p>Fresh Ingredients</p>
<% @ingredients.each do |ingredient| %>
<% if ingredient.quality == "fresh" %>
<p><%= link_to ingredient.name, ingredient_path(ingredient) %> ........... Quantity .. <%= ingredient.quantity %></p>
    <% end %>
<% end %>
    

<%= image_tag ("/assets/day_old.png"), class: "img-responsive" %>
<p>Day-Old Ingredients</p>
<% @ingredients.each do |ingredient| %>
<% if ingredient.quality == "day-old" %>
<p><%= link_to ingredient.name, ingredient_path(ingredient) %> ........... Quantity .. <%= ingredient.quantity %></p>
    <% end %>
<% end %>
    

<%= image_tag ("/assets/expiring.png"), class: "img-responsive" %>
<p>Expiriing Ingredients</p>
<% @ingredients.each do |ingredient| %>
<% if ingredient.quality == "expiring" %>
<p><%= link_to ingredient.name, ingredient_path(ingredient) %> ........... Quantity .. <%= ingredient.quantity %></p>
    <% end %>
<% end %>
    

<%= image_tag ("/assets/urgent.png"), class: "img-responsive" %>
<p>Use-Today Ingredients</p>
<% @ingredients.each do |ingredient| %>
<% if ingredient.quality == "use today" %>
<p><%= link_to ingredient.name, ingredient_path(ingredient) %> ........... Quantity .. <%= ingredient.quantity %></p>
    <% end %>
<% end %>
    

<%= image_tag ("/assets/fruits.png"), class: "img-responsive" %>
<p>Fruits</p>
<% @ingredients.each do |ingredient| %>
<% if ingredient.category == "fruits" %>
<p><%= link_to ingredient.name, ingredient_path(ingredient) %> ........... Quantity .. <%= ingredient.quantity %></p>
    <% end %>
<% end %>
    

<%= image_tag ("/assets/vegetables.png"), class: "img-responsive" %>
<p>Vegetables</p>
<% @ingredients.each do |ingredient| %>
<% if ingredient.category == "vegetables" %>
<p><%= link_to ingredient.name, ingredient_path(ingredient) %> ........... Quantity .. <%= ingredient.quantity %></p>
    <% end %>
<% end %>
    



<% @ingredients.each do |ingredient| %>
<p><%= link_to ingredient.name, ingredient_path(ingredient) %></p>
Amount: <%= ingredient.quantity %> - Quality: ........... <%= ingredient.quality %>
<% end %>
<br>
