
<h1>Ingredient Details</h1>


<% if flash[:success] %>
 <p style = "color:green;"><%= flash[:success] %></p> 
<% end %>


    
<h2><%= @ingredient.name %></h2>
<% if @ingredient.category == "fruits" %>
<%= image_tag ("/assets/fruits.png"), class: "img-responsive" %>
<% elsif @ingredient.category == "vegetables"%>
<%= image_tag ("/assets/vegetables.png"), class: "img-responsive" %>
<% elsif @ingredient.category == "canned goods"%>
<%= image_tag ("/assets/canned.png"), class: "img-responsive" %>
<% elsif @ingredient.category == "spices"%>
<%= image_tag ("/assets/spices.png"), class: "img-responsive" %>
<% elsif @ingredient.category == "dairy"%>
<%= image_tag ("/assets/dairy.png"), class: "img-responsive" %>
<% elsif @ingredient.category == "meats"%>
<%= image_tag ("/assets/meats.png"), class: "img-responsive" %>
<% elsif @ingredient.category == "leftovers"%>
<%= image_tag ("/assets/leftovers.png"), class: "img-responsive" %>
<% elsif @ingredient.category == "out of stock"%>
<%= image_tag ("/assets/stock.png"), class: "img-responsive" %>
<% elsif @ingredient.category == "dairy"%>
<%= image_tag ("/assets/dairy.png"), class: "img-responsive" %>
<% else @ingredient.category == nil %>
<%= image_tag ("/assets/qmark.png"), class: "img-responsive" %>
<% end %>
    

<h2>Amount: <%= @ingredient.quantity %></h2>

<% if @ingredient.quality == "fresh" %>
<%= image_tag ("/assets/fresh.png"), class: "img-responsive" %>
<% elsif @ingredient.quality == "day-old"%>
<%= image_tag ("/assets/day_old.png"), class: "img-responsive" %>
<% elsif @ingredient.quality == "use today"%>
<%= image_tag ("/assets/urgent.png"), class: "img-responsive" %>
<% else @ingredient.quality == "expiring" %>
<%= image_tag ("/assets/expiring.png"), class: "img-responsive" %>
<% end %>
    

<h2>Quality: ........... <%= @ingredient.quality %></h2>
<p><%= button_to "Update Ingredient Iventory", ingredient_path(@ingredient) %></p>

