<!DOCTYPE html>
<html>
  <head>
    <title>FamilyMealEz</title>
  <ul class = "nav">
    <li><%= link_to "Create New Recipe", new_recipe_path %></li>  ||
    <li><%= link_to "See Family Meal Menu", family_meals_path %></li>  ||
    <li><%= link_to "Assign A Cook To Family Meal", new_family_meal_path %></li> ||
    <li><%= link_to "Log-In", new_login_path %></li>
  </ul>

    <% if @current_employee %>
    <ul class = "user">
    <ul>Welcome <%= @current_employee.name %>!</ul>
      <hr>
      <ul><%= link_to "Log Out", logout_path, method: :delete %></ul>
    <% else %>
    <ul class = "login">
      <ul><%= link_to "Sign-Up", new_employee_path %></ul>
    <% end %></ul>
    

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
