<!DOCTYPE html>
<html>
  <head>
    <title>FamilyMealEz</title>
    <%= link_to "Create New Recipe", new_recipe_path %>  ||
    <%= link_to "See Family Meal Menu", family_meals_path %>  ||
    <%= link_to "Assign A Cook To Family Meal", new_family_meal_path %>  ||

    <% if @current_employee %>
      <p>Welcome <%= @current_employee.name %>!</p>
      <%= link_to "Log Out", logout_path, method: :delete %> 
    <% else %>
      <%= link_to "Sign-Up", new_employee_path %> 
      <%= link_to "Log-In", new_login_path %> 
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
