<!DOCTYPE html>
<html>
  <head>
    <title>FamilyMealEz</title>
  <ul class = "nav">
    <li><%= link_to "Create New Recipe", new_recipe_path %></li>  ||
    <li><%= link_to "See Recipes", recipes_path %></li>  ||
    <li><%= link_to "See Ingredients", ingredients_path %></li>  ||
    <li><%= link_to "Create New Ingredient", new_ingredient_path %></li>  ||
    <li><%= link_to "Employee List", employees_path %></li>  ||
    <li><%= link_to "Assign A Cook To Family Meal", new_family_meal_path %></li> ||
    <% if @current_employee %>
      <li><%= link_to "Log Out", logout_path, method: :delete %></li>
      <li class = "log_name">Welcome <%= @current_employee.name %>!</li>
    <% else %>
      <li><%= link_to "Sign-Up", new_employee_path %></li>
      <li><%= link_to "Log-In", new_login_path %></li>
    <% end %></ul>
  </ul>

    
    

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
